/* C O L O R S*/
$white: #fff;
$black: #000;
$text: #222;
$shadow : #ddd;
$orangelight: #fa5;
$yellowish: rgb(218, 200, 45);
$primary : rgb(39, 165, 52);
$secondary: rgb(44, 79, 198);
$tertiary: rgb(221, 79, 33);
$keyred: #d61b0c;
$keyblack: #1a1c20;
$keygray: #f7f7f7;
$keygraydarkext: #85868c;
$keygraylighttext: #b4b5bb;
$keygrayup: #cccccc;
$keytomato: #e1474d;
/* F O N T */
$fontSize: 16px;
/* T R A N S I T I O N */
$transition: .2s ease;

