header {
    background: linear-gradient(to bottom, rgba($shadow, .8), rgba($shadow, .7)), url(../img/divcigora-3.webp);
    @include backgroundImg(center, cover, 22vh);
    position: relative;
    box-shadow: 0 0 2px lighten($black, 5);
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    @media only screen and (max-width: 1200px) {
      height: 350px;
    }
    nav {
        position: absolute;
        left: 0;
        right: 0;
        @include flex(flex-start, space-between);
        z-index: 99;
        padding: 6px 0;
        @media only screen and (max-width: 1200px) {
          @include flex(center, center, column);
        }
        .logo {
            font-size: 1.3rem;
            @media only screen and (max-width: 720px) {
              font-size: 1.2rem;
            }
            margin-left: 5%;
            @include colorShadow($keyred, $black, 1px);
            transition: $transition;
            display: flex;
            flex-direction: column;
            &:hover {
                color: $keyred;
                font-weight: 400px;
            }
            img {
              height: 25px;
              @media only screen and (max-width: 720px) {
                height: 20px;
              }
            }
        }
        > ul {
            @include flex(center, center);
            margin-right: 5%;
            @media only screen and (max-width: 1200px) {
              @include flex(center, center, column);
            }
            > ul {
                display: flex;
                margin-right: 120px;
                @media only screen and (max-width: 1200px) {
                  margin-right: 60px;
                  @media only screen and (max-width: 800px) {
                    flex-direction: column;
                    @media only screen and (max-width: 530px) {
                      margin-right: 0px;
                    }
                  }
                }
                li {
                  margin-left: 30px;
                  span {
                    font-weight: 600;
                    @include colorShadow($keyblack, $keygray, 1px);
                    @media only screen and (max-width: 800px) {
                      display: block;
                    }
                  }
                  input[type="text"] {
                    padding: 4px 6px;
                    width: 180px;
                    @media only screen and (max-width: 1200px) {
                      padding: 3px 4px;
                      width: 210px;
                    }
                  }
                  #submit1, #submit2, #submit3 {
                    background-color: #ebebe8;
                    margin: 0;
                    padding: 0px 4px 4px;
                    border: 2px solid #bebe7d;
                    border-radius: 2px;
                    cursor: pointer;
                    display: inline-block;
                  }
                  &:first-child {
                    font-size: 1.25rem;
                    margin-right: 30px;
                    span {
                      @include colorShadow($keyred, $keygray, 1px);
                    }
                    @media only screen and (max-width: 800px) {
                      font-size: 1rem;
                    }
                  }
                  &:last-child {
                    span {
                      @include colorShadow($keyred, $keygray, 1px);
                    }
                    input {
                      width: 150px;
                      &::placeholder {
                        color: rgba(lighten($keyred, 25), .85);
                      }
                      &[type="submit"] {
                        width: auto;
                      }
                    }
                  }
                }
            }
            li {
                margin-left: 30px;
                position: relative;
                transition: $transition;
                @media only screen and (max-width: 1200px) {
                  margin-top: 10px;
                }
                span {
                    @include colorShadow($keyred, $keyblack);
                }
                #cat-span {
                    font-size: 1.2rem;
                    @include colorShadow($keyred, $keyblack);
                    transition: $transition;
                    cursor: pointer;
                    &:hover {
                        @include colorShadow(darken($keytomato, 5), $black);
                    }

                    @media only screen and (max-width: 530px) {
                      font-size: 1.1rem;
                      @media only screen and (max-width: 450px) {
                        display: none;
                      }
                    }
                }
 
                ul {
                    position: absolute;
                    width: 170px;
                    text-align: right;
                    right: -10px;
                    display: none;
                    padding: 0;
                    background-color: rgba(lighten($keyred, 15), .85);
                   
                    li {
                        padding-bottom: 5px;
                        padding-right: 10px;
                        font-size: 1.05rem;
                        @include colorShadow($keygraylighttext, $white);
                        cursor: pointer; 
                        &:hover {
                            @include colorShadow(darken($keygray, 5), $black);
                        }
                        a {
                          @include colorShadow(darken($white, 10), $white);
                          &:hover {
                            @include colorShadow($white, $white);
                          }
                        }
                        &:last-child {
                          display: none;
                        }
                    }
                    

                }
                &:hover ul {
                    display: block;
                    padding-top: 8px;
                }
            }
        }
    }
    hgroup {
      position: absolute;
      @include flex(center, center, column);
      @include colorShadow(darken($keyred, 5), $keygray, 1px);
      height: 220px;
      width: 100%;
      @media only screen and (max-width: 1200px) {
        height: 350px;
        @media only screen and (max-width: 800px) {
          bottom: 60px;
          height: 50px;
        }
      }
      h1 {
        font-size: 2rem;
        @media only screen and (max-width: 800px) {
          font-size: 1.6rem;
          margin-top: 70px;
          @media only screen and (max-width: 640px) {
            font-size: 1.2rem;
          }
        }
      }
      h2 {
        font-size: 1.6rem;
        @media only screen and (max-width: 800px) {
          font-size: 1.4rem;
          @media only screen and (max-width: 640px) {
            font-size: 1.1rem;
          }
        }
      }
    }
}
